body{
  margin: 0;
  font-weight: bold;
}
body {
    font-size: 20px;
    text-align: center;
}
body{
   background-image: url(http://www.2ndlifecomputers.com/HTML/images/main04.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1
}
#background {
  background-image: url("http://www.twitrcovers.com/wp-content/uploads/2013/05/Abstract-Electronics-l.jpg");
  background-size:cover;
  background-position: center bottom;
  width: 100%;
  height:200px;
  color: #fff;
  font-family: Veneer,Lato,sans-serif;
  text-align: center;
  line-height: 200px;
  font-size: 46px;
  text-transform: uppercase;
  vertical-align: middle;
  margin: 0;
}
header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 60px;
    background-color: yellow;
    text-align: center;
    z-index: 1;
}
header section {
    position: relative;
    width:800px;
    display: inline-block;
    padding-bottom: 20px;
}
nav {
    position: absolute;
    top: 20px;
    right: 20px;
}
nav ul {
    list-style: none;
    margin: 0;
}
nav li {
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin-left: 20px;
}

ul {
    overflow: hidden;
}
li a, .dropbtn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}
li.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {background-color: #f1f1f1}
.dropdown:hover .dropdown-content {
    display: block;
}
#social_media.sticky {
    position: fixed;
    top: 80px;
}
#social_media {
    position: absolute;
    color: #fff;
    left: 20px;
    top: 400px;
    width: 50px;
    height: 80px;
    border: 2px solid #000;
    border-radius: 8px;
    background-color: rgba(50,25,25,0.75);
}
#map {
  width:400px;
  height: 300px;
  border: 3px dashed grey;
  float: right;
  margin-top: 140px;
  margin-right: 100px;
}
#direction{
  margin-bottom:20px;
}
}
h1{
  margin: 40px;
}
section{
    list-style: none;
    display: inline-block;
}
#section1{
  float: left;
  margin-top: 20px;
  margin-left: 100px;
}
#footer ul{
    list-style: none;
}
#footer{
    text-align: center;
    margin-bottom: 20px;
}
#footerleft{
    text-align: left;
    margin-left: 30px;
    text-decoration: none;
}
#footercenter{
    text-align: center;
}
#footerright{
    text-align: right;
    margin-right: 30px;

}
#footer h3 {
    font-family: inherit;
    font-size: 1.4em;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    font-weight: 100;
    margin-bottom: 30px;
}
#copyright p {
    font-family: inherit;
    font-size: 20px;
    color: #444444;
    padding: 10px;
    margin: 0px;
    border: 0px;
    text-align: center;
}
@media all and(max-device-width: 500px){
  #footer{
    display: none;
  }
}
