body{
    background-image: url(http://www.2ndlifecomputers.com/HTML/images/main04.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}
body{
    font-size: 18px;
    margin: 80px 0 0 0;
    font-size: 20px;
    text-align: center;
    display: block;
}
img{
    position: absolute;
    top: 80px;
    left: 80px;
    width: 50%;
    height: 50%;
}
main{
    margin-top: 550px;
    text-align: left;
    width: 800px;
    display: inline-block;
}
header {
    background-color: yellow;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 60px;
    text-align: center;
    z-index: 1;
}
header section {
    position: relative;
    width:800px;
    display: inline-block;
    padding-bottom: 20px;
}
nav {
    position: absolute;
    top: 20px;
    right: 20px;
}
nav ul {
    list-style: none;
    margin: 0;
}
nav li {
    color: yellow;
    font-size: 25px;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin-left: 20px;
}
ul {
    overflow: hidden;
    list-style: none;
}
li a, .dropbtn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}
li.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {background-color: #f1f1f1}
.dropdown:hover .dropdown-content {
    display: block;
}
#social_media.sticky {
    position: fixed;
    top: 80px;
}
#social_media {
    position: absolute;
    color: #fff;
    left: 20px;
    top: 400px;
    width: 50px;
    height: 80px;
    border: 2px solid #000;
    border-radius: 8px;
    background-color: rgba(50,25,25,0.75);
}
/*animated pictures*/
.arrow-left {
  position: absolute;
  left:50px;
  top: 300px;
  cursor: pointer;
}
.arrow-right {
  position: absolute;
  right: 50px;
  top: 300px;
  cursor: pointer;
}
.splash {
  background-size: cover;
  width:100%;
  height: 600px;
  position: absolute;
  top:0;
  z-index:-1;
  color: #fff;
}
.splash h1 {
  margin-top: 400px;
  text-align:bottom;
}
#splash1 {
  background-image: url(http://scraputante.com/wp-content/uploads/2015/03/bigstock-Man-Repairing-Cellphone-80316401.jpg);
}
#splash2 {
  background-image: url(http://www.howtogeek.com/wp-content/uploads/2008/05/ximage153.png.pagespeed.gp+jp+jw+pj+js+rj+rp+rw+ri+cp+md.ic.0KGnCEMrRz.jpg);
  display:none;
}
#splash3 {
  background-image: url(http://images.cellphonerepair.com/rock-hill-sc/wp-content/uploads/sites/281/2015/08/cell-phone-repair-rock-hill-sc-408x375.jpg);
  display:none;
}
.box4 {
    margin: 0px 0px 10px 0px;
    padding: 15px 10px 20px 10px;
}
.box4 {
    font-family: arial;
    color: #041A25;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    font-weight: 100;
}
.box4 {
    font-size: 14px;
    letter-spacing: 0.05em;
    line-height: 1.4em;
}
.box4 {
    color: black;
    position: relative;
}
.box{
    width: auto;
}
article{
    display: block;
}
#footer ul{
    list-style: none;
}
#footerleft{
    text-align: left;
    margin-left: 30px;
    text-decoration: none;
}
#footercenter{
    text-align: center;
}
#footerright{
    text-align: right;
    margin-right: 30px;
}
section{
    list-style: none;
    display: inline-block;
}
#footer h3 {
    font-family: inherit;
    font-size: 1.4em;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    font-weight: 100;
    margin-bottom: 30px;
}
#copyright p {
    font-family: inherit;
    font-size: 20px;
    color: #444444;
    padding: 10px;
    margin: 0px;
    border: 0px;
    text-align: center;
}
@media all and (max-device-width: 500px){
    .splash {
        display: none;
    }

    #footerleft{
        position: relative;
        left: 325px;
    }
    #footercenter, #footerright{
        display: none;
    }
   #footer #copyright {
        position: relative;
        top: 40px;   
    }
}