body {
    font-size: 20px;
    text-align: center;
}
body{
    font-weight: bold;
    font-style: arial;
}
body {
    display: block;
    background-image: url(http://www.2ndlifecomputers.com/HTML/images/main04.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}
main{
    margin-top: 50px;
    text-align: left;
    width: 800px;
    display: inline-block;
}
ul {
    overflow: hidden;
    list-style: none;
    text-decoration: none;
}
li a, .dropbtn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
nav {
    position: absolute;
    top: 20px;
    right: 20px;
}
nav ul {
    font-family: 'Oswald', sans-serif;
    list-style: none;
    margin: 0;
}
nav li {
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin-left: 20px;
}
header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 60px;
    background-color: yellow;
    text-align: center;
    z-index: 1;
}
header section {
    position: relative;
    width:800px;
    display: inline-block;
    padding-bottom: 20px;
}
#social_media.sticky {
    position: fixed;
    top: 80px;
}
#social_media {
    position: absolute;
    color: #fff;
    left: 20px;
    top: 400px;
    width: 50px;
    height: 80px;
    border: 2px solid #000;
    border-radius: 8px;
    background-color: rgba(50,25,25,0.75);
}
.box{
    margin-top: 600px;
    text-align: left;
    width: 800px;
    display: inline-block;
}
.box4 {
    margin: 0px 0px 10px 0px;
    padding: 15px 10px 20px 10px;
    font-family: arial;
    background-color: yellow;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    font-weight: 100;
    font-size: 14px;
    letter-spacing: 0.05em;
    line-height: 1.4em;
    position: relative;
    width: auto;
    border-radius: 5px;
}
#footer ul{
    list-style: none;
}
#footer{
    text-align: center;
    margin-bottom: 20px;
}
#footerleft{
    background-color: yellow;
    text-align: center;
    margin-left: 30px;
}
#footercenter{
    background-color: yellow;
    text-align: center;
}
#footerright{
    background-color: yellow;
    text-align: center;
    margin-right: 30px;
}
section{
    list-style: none;
    display: inline-block;
}
#footer h3 {
    font-family: inherit;
    font-size: 1.4em;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    font-weight: 100;
    margin-bottom: 30px;
}
#copyright p {
    font-family: inherit;
    font-size: 20px;
    color: #444444;
    padding: 10px;
    margin: 0px;
    border: 0px;
    text-align: center;
}

